* {
    margin: 0px;
    padding: 0px;
    
    font-family: $font-body;
}


.header {
  font-family: $font-body;
  font-size: 1.2rem;
  text-align: center;
  color: $primary-grey;
  text-transform: uppercase;
    
  width: 50%;
  min-width: 200px;
  margin: 25px auto;
  padding-bottom: 10px;
  position: relative;
  z-index : 1;
    
  border-bottom: 1px solid $primary-grey;

  .subheader {
    color: black;
  }
}
