.content {
  font-family: $font-body;
  margin: 25px 75px 25px 75px;
}

.header {
  font-family: $font-body;
  font-size: 1.2rem;
  text-align: center;
  color: $primary-grey;
  text-transform: uppercase;
  margin: 25px 0px 25px 0px;
  padding-bottom: 10px;
  position: relative;
  z-index : 1;


  &:before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    border-bottom: 1px solid $primary-grey;
  }

  .subheader {
    color: black;
  }
}
