* {
    margin: 0px;
    padding: 0px;
    
    text-decoration: none;
    font-family: $font-body;
}

a { color: $off-white; }

.headroom {
  z-index: 2 !important;
}

.content {
  color: $off-black;
  margin: 3.5rem auto;

  // Responsive UI breakpoints at 300px intervals upto 1200px.
  @for $i from 1 through 4
  {
    @media screen and (min-width: $i * $width-increments) {
      width: $i * $profile-width;
    }
  }
}

.content-header {
  font-size: 1.2rem;
  text-align: center;
  color: $primary-grey;
  text-transform: uppercase;

  width: 50%;
  min-width: 200px;
  margin: 25px auto;
  border-bottom: 1px solid $primary-grey;

  padding-bottom: 10px;
  position: relative;
  z-index : 1;

  .subheader {
    display: inline-block;
    color: black;
  }
}
