@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular-Book.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('./fonts/Circular-Bold.ttf')  format('truetype'),
}

$font-unit: 16px;
$primary-red: #9F001A;
$primary-teal: #009899;
$primary-grey: #606060;
$off-black: #353535;
$off-white: #fcfcfd;
$white: #ffffff;
$nav-height: 80px;
$font-header: 'Circular-Bold', sans-serif;
$font-body: 'Circular', sans-serif;
$prefixLink: '/bsjas';

$width-increments: 300px;

@mixin transition($props) {
   transition: $props;
  -ms-transition: $props;
  -moz-transition: $props;
  -webkit-transition: $props;
}
