@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular-Book.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('./fonts/Circular-Bold.ttf')  format('truetype'),
}

$font-unit: 16px;
$primary-red: #9F001A;
$primary-grey: #606060;
$font-header: 'Circular-Bold', sans-serif;
$font-body: 'Circular', sans-serif;
