@import 'variables';

.navbar {
    height: 80px;
    color: $off-white;
    background-color: $primary-red;
}

.nav-content {
    margin: 0px auto;
    height: 100%;
    width: 100%;
    max-width: 4 * $width-increments;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.badge {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}
.logo {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.club-title {
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    
    .top { font-family: $font-body;}
}

.nav-links {
    padding: 0px 12px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-link {
    font-size: 0.85rem;
//    font-weight: normal;
    
    color: $off-white;
    text-transform: capitalize;
    
    padding: 12px 16px 8px 16px;
    display: inline-flex;
    align-items: flex-end;
}
.nav-link:first-child {
    color: $primary-red;
    background-color: $off-white;
}