.section-subheader {
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: auto;

    .right {
        float: right;
        color: $primary-teal;
    }
    .left {
        float: left;
    }
}

.blog-landing {
	margin-bottom: 2rem;
	p.desc {
		width: 75%;
		min-width: 320px;
		margin: 20px auto 100px auto;
		font-size: 1rem;
		@media screen and (min-width: 3 * $profile-width) {
			font-size: 1.25rem;
		}
	}
}

.most-recent-blogs,
.by-region-blogs  {
	width: 100%;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
	li {
		display: inline-block;
		margin: 0.5rem 0.5rem 0.5rem 0.5rem;
		position: relative;
	}
	.img-container {
		background: url("/assets/blog-landing-tile.jpg");
		height: 15rem;
		width: 15rem;
		background-size: cover;
	}
}

.tile-title {
  background: rgba(255,255,255,0.5);
  color: black;
	// Must be the same as above
	height: 15rem;
	width: 15rem;
	//
	position: absolute;
  display: table;
  left: 0;
	top: 0;
  opacity: 0;
	cursor: pointer;
}

.tile-title span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

li:hover span.tile-title {
  opacity: 1;
}

.archives-container {
  margin: auto;
  width: 50%;
}

.archives {
  width: 100%;
  max-width: 600px;
  color: $primary-grey;
  text-align: center;
}

@media (min-width: 300px) {
	.archives {
		-webkit-column-count: 1;
		-webkit-column-gap: 1.5rem;
		-moz-column-count: 1;
		-moz-column-gap: 1.5rem;
		column-count: 1;
		column-gap: 1.5rem;
	}
	.blog-landing {
		.img-container,
		.tile-title {
			height: 25rem;
			width: 25rem;
		}
	}
}

@media (min-width: 900px) {
	.archives {
		-webkit-column-count: 2;
		-webkit-column-gap: 1.5rem;
		-moz-column-count: 2;
		-moz-column-gap: 1.5rem;
		column-count: 2;
		column-gap: 1.5rem;
	}
	.blog-landing {
		.img-container,
		.tile-title {
			height: 20rem;
			width: 20rem;
		}
	}
}

@media (min-width: 1200px) {
	.archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
	.blog-landing {
		.img-container,
		.tile-title {
			height: 15rem;
			width: 15rem;
		}
	}
}
