.events-main {
  margin-top: 2rem;
  width: 80%;
  margin-left: 10%;
  img {
    width: 100%;
  }
  .desc {
    text-align: right;
    margin-top: 0.5rem;
    color: $primary-grey;
  }
}

.events-upcoming, .events-past {
  text-align: center;
  margin-top: 2rem;
  width: 80%;
  margin-left: 10%;
  .row {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.subevent {
  display: inline-block;
  width: 33%;
  .desc {
    text-align: center;
  }
  img {
    width: 100%;
  }
  .title {
      margin-top: 0.25rem;
      color: $primary-red;
      font-size: 1rem;
  }
  .info {
      margin-top: 0.25rem;
      color: $primary-grey;
      font-size: 0.8rem;
  }
}
