.journals {
	width:800px;
	height:520px;
	margin:0px auto;
	
	.tab-nav {
		width:140px;
		float:left;
		margin-top:40px;
		
		.tab {
		  padding:10px;
		  cursor:pointer;
		  font-weight:bold;
		  
		  &:hover {
			  background-color:$primary-red;
			  color:#FFF;
		  }
		}
		
	}
	.tab-content {
		width:800px;
		
		.tab-title {
			color:$primary-grey;
			text-transform:uppercase;
			text-align:center;
			font-size:1.1em;
			letter-spacing:.1em;
		}
		.cover-img {
			width:200px;
			float:left;
			padding:20px;
		}
		.at-container {
			width:400px;
			float:right;
		}
		.author {
			text-align:right;
			text-transform:uppercase;
			padding-bottom:5px;
		}
		.title {
			margin-bottom:10px;
			text-align:right;
			font-size:.9em;
			padding-bottom:10px;
		}
		
	}
}

.submit {
	width:800px;
	margin:0px auto 80px auto;
	
	.question {
		margin-bottom:10px;
		font-size:1.2em;
		font-weight:bold;
	}
	.answer {
		margin-bottom:30px;
	}
	.p {
		height:15px;
		display:block;
	}
	.blip {
		color:$primary-red;
	}
}