.main-box {
	color: white;
	width: 100%;
	height: calc(100vh - 100px;
	background: url(/assets/bg.jpeg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	.main-text {
		height: auto;
		width: 60vw;
		text-align: center;

		.main-text-title {
			font-size: 55px;
			padding: 1em 0;
		}
		.main-text-subtitle {
			font-size: 20px;
			padding: 1em 0;
		}
		.main-button {
			background-color: #9f001a;
			width: 175px;
			padding: 10px 5px;
			border: #9f001a solid 2px;
			display: inline-block;
			margin: 10px;
		}
		.main-button:hover {
			background-color: white;
			color: #9f001a;
		}
	}

}