.site-landing {
	color: white;
	width: 100%;
	height: calc(100vh - #{$nav-height});
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	.box {
		height: auto;
		width: 60%;
		text-align: center;
		@media screen and (max-width: 500px) {
			width: 80%;
		}

		p {
			margin-bottom: 1em;
		}
		.title {
			font-size: 3em;
			@media screen and (max-width: 500px) {
				font-size: 2em;
			}
			@media screen and (max-height: 600px) {
				font-size: 2em;
			}
		}
		.subtitle {
			font-size: 1.25em;
			padding-bottom: 2.5em;
			@media screen and (max-width: 650px) {
				font-size: .8em;
			}
			@media screen and (max-height: 650px) {
				font-size: 1em;
				padding-bottom: 1em;
			}
		}
		.button {
			background-color: #9f001a;
			padding: .5em;
			width: 15em;
			border: #9f001a solid 2px;
			display: inline-block;
			margin: .75em;
			@media screen and (max-width: 500px) {
				font-size: .8em;
				width: 75%;
			}
			@media screen and (max-height: 600px) {
				font-size: .8em;
				width: 35%;
			}
		}
		.button:hover {
			background-color: white;
			color: #9f001a;
		}
	}
}
